.login{
    width : 100vw;
    height: 100vh;
    display: inline-block;
 align-items: center;
 display: flex;
justify-content: center;
/* background-color: aliceblue; */
}

.loginWrapper{
    width: 50%;
    height: 80%;
    display: inline-block;
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    -webkit-box-shadow: 5px -6px 18px 2px rgba(0,0,0,0.64);
    -moz-box-shadow: 5px -6px 18px 2px rgba(0,0,0,0.64);
    box-shadow: 5px -6px 18px 2px rgba(0,0,0,0.64);
    border-radius: 10px;
}
.loginStart{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    margin-top: 50px;
   
}

.loginEnd{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-left: 10px;
    
} 
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content:center;
   
}
.registerButtons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* justify-content: space-between; */
    display: inline-block;
}



.SignInButton{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #224be0;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
       
}

.passwordForgot{
    text-align: center;
    color: #1775ee;
    margin: 10px;
}

.RegisterButton{
    width: 150px;
    height: 45px;
    padding: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #224be0;;
    border: none;
    font-size: 17px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    margin: 10px;
    
}

FormInput{
    background-color: white;
}
