.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
   
}

input{
    width: 250px;
    height: 50px;
    margin-bottom: 5px;
    display: block;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 15px;
    padding-left: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
    background-color: white;
    

}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}
