.login{
    width : 100vw;
    height: 100vh;
    display: inline-block;
 align-items: center;
 display: flex;
justify-content: center;
background-color: rgb(240, 255, 247);
}

.loginWrapper{
    width: 50%;
    height: 80%;
    display: inline-block;
    align-items: center;
    background-color: hsl(220, 13%, 95%);
    display: flex;
    flex-direction: column;
  
    /* justify-content: space-between; */
    -webkit-box-shadow: 5px -6px 18px 2px rgba(0,0,0,0.64);
    -moz-box-shadow: 5px -6px 18px 2px rgba(0,0,0,0.64);
    box-shadow: 5px -6px 18px 2px rgba(0,0,0,0.64);
    border-radius: 20px;
}
.loginStart{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
   
}

.loginEnd{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-left: 10px;
    
} 

.header {
    padding:15px 0;
    border-bottom:1px solid #cccccc;
    border-radius: 20px;
    height: 30%;
    width: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(
        "https://static.vecteezy.com/system/resources/thumbnails/007/077/261/small/concept-of-online-payment-with-credit-card-with-smart-phone-laptop-computer-on-office-desk-on-clean-bright-marble-table-background-top-view-flat-lay-photo.jpg");;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content:center;
    
   
}
.registerButtons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* justify-content: space-between; */
    display: inline-block;
}



.SignInButton{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #3da65c;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
       
}

.passwordForgot{
    text-align: center;
    color: #3da65c;
    margin: 10px;
}

.RegisterButton{
    width: 150px;
    height: 45px;
    padding: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #3da65c;
    border: none;
    font-size: 17px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    margin: 10px;
    
}

FormInput{
    background-color: white;
}
