@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin:0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.activation{
    height:100vh;
    /* background-image: 
  url(
"https://img.freepik.com/free-photo/flat-lay-office-desk-assortment-with-copy-space_23-2148707962.jpg"); */
background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    display:flex;
    justify-content: center;
    align-items: center;
    

}

/* .activation::before{
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
} */

.signup-form  {
    flex:1;
    max-width:600px;
    /* width: 200px; */
    border-radius: 10px;
    background-color: #EFF0F1;
    border: 1px solid #999;
    margin-top: 10%;
    margin-bottom:  auto;
  }
/* .wrapper{
  border: 1px solid black;
  padding: 2rem 2rem;
  text-align: center;
  width: 80%;
  height: 80%;
  background-color: yellow;
 
} */

.form-header {
    padding:15px 0;
    border-bottom:1px solid #cccccc;
    height: 100px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(
        "https://static.vecteezy.com/system/resources/thumbnails/007/077/261/small/concept-of-online-payment-with-credit-card-with-smart-phone-laptop-computer-on-office-desk-on-clean-bright-marble-table-background-top-view-flat-lay-photo.jpg");;
}

.form-header h1 {
    font-size: 28px;
    text-align:center;
    color:#0e0d0d;
}

/* .left , .right{
    flex: 1;
    /* align-items: center; */
    /* border: 1px solid rgb(200, 19, 19);
    margin: 10px;
} */
/*  */

/* .left{
    margin-right: 20px;
}  */

.form-body {
    background:white;
    padding:5px 10px;
}

.row {
    display:flex; 
}
  
.input-group {
    flex:1;  
    display:flex;
    flex-direction:column; 
    margin:10px 5px;
}

/* MOBILE VIEW */
@media only screen and (max-width: 500px) {
    .row{
      flex-direction:column; 
    }

    .btn {
        flex:1;
    }
}

.form-footer {
    display:flex;
    justify-content: flex-end;
    padding:10px;
}

.btn {
    padding:10px 20px;
    background-color: #3da65c;
    font-size:17px;
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
 }

 /* INPUT*/

 label {
    color:#3da65c;
    font-size: 17px;
    font-weight: 500;
  }

  input  {
    width:100%;
    
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
    }

select{
    width:100%;
    
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}


