.sidebar{
    flex :10;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    width: 10px;
    
    
}

.sidebarWrapper{
    padding: 20px;
    margin-top: 55px;
    
}

.listItem{
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItemButton{
    width: 150px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-weight: 500;
    background-color: #3da65c;
    color: white;
}