.collegeInput input{
    width: 95%;
    height: 30px;
    margin-bottom: 5px; 
    border-radius: 0;
    border: 1px solid gray;
    font-size: 18px;
    
   
    margin: 10px;
    margin-left: 19%;
    /* margin-right: 19%; */
    padding-left: 20px;
     
    
}

.collegeInput label{
    font-size: 18px;
    margin-left: 19%;
    
}
.error{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
    margin-left: 21%;
}


input:invalid[focused = "true"] ~ span{
    display: block;
    
}